DEBUG=1
DJANGO_ALLOWED_HOSTS=localhost 0.0.0.0 [::1]
DATABASE=mysql
SQL_ENGINE=django.db.backends.mysql
SQL_PORT=3306
SQL_DATABASE=perfumaliaproject
SQL_USER=root
SQL_PASSWORD=password
SQL_HOST=34.67.115.136