{% extends 'base.html' %} 
{% block title %} Perfumalia Orders {% endblock %} 

{% block content %} 

<div class="text-center"> 
  <h1>Lista Ordenes</h1>
  <ul>
      {% for order in orders %}
          <li>(ID:{{ order.orderID }}) - Date: {{ order.orderDate }} 
              <a href="{% url 'orderdetails' order.orderID %}">
                  <button>Detalles</button>
              </a>
          </li>
      {% endfor %}
  </ul>
  <a href="/">
      <button>Regresar</button>
  </a>
</div> 

{% endblock %}